<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.digitallife">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_digitallife_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_digital_life_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity_splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity_login"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_account_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_account_show"
            android:parentActivityName=".Activity_main"
            android:screenOrientation="portrait"
            tools:targetApi="JELLY_BEAN">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_main" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9934738138092081~2013437011" />
    </application>

</manifest>