<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="example.digitallife">

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_digitallife_foreground"
        android:roundIcon="@mipmap/ic_digital_life_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false">
        <activity android:name=".Activity_main"/>
        <activity android:name=".Activity_account"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity_launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9934738138092081~2013437011" />
    </application>

</manifest>